doctype html
html(lang='en')
  head
    include partials/head
    include partials/head_custom
  body
    .container
      h1
        a(href='https://www.statecitizentrust.org/' target="_blank")
          img(id="logo" width="175px" height="175px" src="assets/state-citizen-trust.jpg")
      h1 State Citizen Trust - Admin
      h1 Secure File Transfer
      h2 All accesses are logged!
      hr
      #admin
    include partials/footer
    script(src='app/common.js')
    script(src='app/admin.js')
