doctype html
html(lang='en')
  head
    include partials/head
    include partials/head_custom
  body
    .container
      h1
        a(href='https://www.statenationaltrust.org/' target="_blank")
          img(id="logo" width="175px" height="175px" src="assets/state-national-seal.png")
      h1 State National Trust - Download
      h1 Secure File Transfer
      h2 All accesses are logged!
      hr
      #download
    include partials/footer
    script(src='app/common.js')
    script(src='app/download.js')
