doctype html
html(lang='en')
  head
    include partials/head
    style.
      html {
        position: relative;
        min-height: 100%;
      }
      body > .container {
        padding-bottom: 50px;
        position: relative;
      }
      .footer {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 40px;
        line-height: 40px;
      }
    include partials/head_custom
  body
    .container
      h1
        a(href='https://www.statenationaltrust.org/' target="_blank")
          img(id="logo" width="175px" height="175px" src="assets/state-national-seal.png")
      h1 State National Trust - ERROR
      h1 Secure File Transfer
      h2 All accesses are logged!
      p.alert.alert-danger
        strong
          i.fa.fa-fw.fa-exclamation-triangle
          |  #{error}
      p
        a.btn.btn-sm.btn-info(title='New Upload' href=uploadAppPath)
          i.fa.fa-fw.fa-cloud-upload
          |  new upload
    include partials/footer
